{{#if isCurrentLink}}
    <div>
        <a {{action "chooseLink" link}} style="font-weight: bold; color: black;"> {{link.title}} </a>
    </div>
{{else}}
    <div>
        <a {{action "chooseLink" link}}> {{link.title}} </a>
    </div>
{{/if}}

{{yield}}