{{#if isCurrentLink}}
    <div>
        <a {{action "chooseLink" link}} style="color: #FF0000"> {{link.title}} </a>
    </div>
{{else}}
    <div>
        <a {{action "chooseLink" link}}> {{link.title}} </a>
    </div>
{{/if}}

{{yield}}