

    <div class="ui header"> Editing {{model.name}} 
        <div class="sub header"> Add links to your slideshow </div>
    </div>



    <form class="ui form" {{action 'addLink' on='submit'}}>
        <div class="field">
            {{input value=url placeholder="URL"}}
        </div>

        <div class="field">
            {{input value=title placeholder="Title" action='addLink' on="enter"}}
        </div>

        <button class="ui button" type="submit">
            Add link
        </button>
    </form>

    <div class="ui center aligned segment">
        <div class="ui header"> Links </div>

        {{#if model.links}}        
            <div class="ui list">    
            {{#each model.links key="id" as |link|}}
                <div class="item">
                    <a {{action "deleteLink" link}} > <i class="black link x icon"/> </a>            
                    <a href="{{link.url}}"> {{link.title}} </a>
                </div>
            {{/each}}
            </div>
            <div class="ui huge blue button" {{action 'playSlideshow'}}>
                    Play slideshow!
            </div>            

        {{else}}
            Add links to build a slideshow
        {{/if}}


    </div>




{{outlet}}

