<div class="ui column grid">

    <h2> Editing {{model.name}} </h2>
    {{#each model.links key="id" as |link|}}
        <div> <a href="{{link.url}}"> {{link.title}} </a> </div>
    {{/each}}

    <form class="ui form" {{action 'addLink' on='submit'}}>
        <div class="field">
            {{input value=url placeholder="URL"}}
        </div>

        <div class="field">
            {{input value=title placeholder="Title" action='addLink' on="enter"}}
        </div>

        <button class="ui button" type="submit">
            Add link
        </button>
    </form>

    <div class="row"></div>
    <div class="row"></div>

    <button class="ui button" {{action 'playSlideshow'}}>
        <p style="font-size:200%">
            Play slideshow!
        </p>
    </button>

</div>

{{outlet}}

