    {{#link-to 'edit-slideshow' model.edit_code}} <i class="edit icon"/> Edit {{/link-to}}
    <div class="ui center aligned segment">
    <h2> Playing {{model.name}} </h2>
    	<div class="ui segment">
		    <div class="ui horizontal list">
		    	<div class="item" {{action "previousLink" }}>  <i class="left link arrow icon"/> </div>
			    {{#each model.links key="id" as |link|}}
			        {{highlight-link slideshow=model link=link action="pickLink"}}
			    {{/each}}
		    	<div class="item" {{action "nextLink" }}> <i class="right link arrow icon"/> </div>
		    </div>
	    </div>
    </div>

    <div class="ui header"> Shareable Link: <a href="{{current_url}}"> {{current_url}} </a> </div>

    {{#unless edit_successful}}
        <div class="ui error message"> Oops! That URL is already taken </div>
    {{/unless}}

    <form class="ui form" {{action 'changeViewURL' on='submit'}}>
        <div class="field {{unless edit_successful 'error'}} ">
            <div class="ui labeled input">
                <div class="ui label"> {{base_url}} </div>
                {{input value=new_code placeholder="Enter a custom URL"}}
            </div>
        </div>

        <button class="ui button" type="submit">
            Change link
        </button>
    </form>    

